# ========================
# JAVA / SPRING BOOT
# ========================
target/
*.class

# Logs
*.log

# Spring Boot
*.jar
*.war

# ========================
# MAVEN
# ========================
.mvn/
mvnw
mvnw.cmd

# ========================
# IDE - IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws
*.ipr
out/

# ========================
# ECLIPSE / STS
# ========================
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

# ========================
# NETBEANS
# ========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ========================
# VS CODE
# ========================
.vscode/

# ========================
# MAC OS
# ========================
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# ========================
# LINUX / WINDOWS
# ========================
*~
*.swp
Thumbs.db

# ========================
# DOCKER
# ========================
docker-compose.override.yml

# ========================
# ENV FILES
# ========================
.env
*.env

# ========================
# DATABASE BACKUPS
# ========================
*.dump

# Büyük SQL dump dosyaları
backup/
database-backups/

# ========================
# TEMP FILES
# ========================
tmp/
temp/